body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-archivo-black: "Archivo Black";
  --font-red-rose: "Red Rose";
  --font-copse: Copse;

  /* font sizes */
  --font-size-6xl: 25px;
  --font-size-36xl: 55px;
  --font-size-13xl: 32px;
  --font-size-21xl: 40px;
  --font-size-51xl: 70px;
  --font-size-111xl: 130px;
  --font-size-26xl: 45px;
  --font-size-11xl: 30px;
  --font-size-lg: 18px;

  /* Colors */
  --color-gray-100: #fefefe;
  --color-gray-200: #868686;
  --color-gray-300: #060607;
  --color-white: #fff;
  --color-palegreen: #b0f996;
  --color-darkslategray: #3d3d3d;
  --color-dimgray: #626161;

  /* Border radiuses */
  --br-2xs: 11px;
}
